* {
  box-sizing: border-box;
  margin: 0 auto;
}

ul {
  list-style: none;
  color: white;
}

li a {
  color: white;
  text-decoration: none;
}

.about {
  text-align: center;
  color: white;
  background-image: url("../Images/Backgrounds/BG-img-03.png");
  background-size: cover;
  width: auto;
  padding: 85px;
}

.profile:nth-child(odd) img {
  float: right;
}

.profile:nth-child(even) img{
  float: left;
}

.pro-image {
  border-radius: 50%;
  width: auto;
}

.description {
  background-color: green;
  text-align: center;
  padding: 50px;
}

img {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .header {
    background-image: url("../Images/Backgrounds/BG-img-03.png");
  }

  h2 {
    text-align: center;
  }

  .profiles {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile{
    text-align: center;
    width: 33.333333%;
  }
}
