w*{
  box-sizing: border-box;
}

body{
  background-color: yellow;
}
.Involved{
  background-image: url("../Images/Backgrounds/BG-img-05.png");
  text-align: center;
  color: white;
  background-size: cover;
  width: auto;
  padding: 90px;
}
h2{
  text-align: center;
}
.Join{
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "a c c ."
  "a c c ."
  "b c c .";
}
.address{
  grid-area: a;
}
.info{
  grid-area: b;
}
.pic{
  width: 100%;
  grid-area: c;
}

.Idea{
  text-align: center;
  background-color: white;
}
input[type=text] {
  text-align: left;
  width: 50%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
}
textarea {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  padding: 12px 20px;
  margin-bottom: 90px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.link{
  text-align: center;
  border: 1px solid black;
  width:150px;
  margin: auto;
}
img.socialmediaicons{
  width: 8%;
}

@media only screen and (min-width: 900px){
  body{
    font-family: sans-serif;
  }

.info, .address{
  padding-left: 70px;
}

.Idea{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.Idea p{
  grid-column: 2 /span 1;
  grid-row: 2 /span 1;
}
}
