* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  text-align: center;
}

img {
  width: 100%;
}

.events {
  background-color: pink;
}

.current {
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: auto;
}

.current h2 {
  grid-column: 1 / span 5;
  margin-bottom: 20px;
}

.current img {
  width: 100%;
  grid-column: 2 / span 5;
  grid-row: 2 / span 1;
}

.current p {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
}

.past-projects {
  background-color: yellow;
}

.past-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
}

.past-project img {
  grid-row: span 2;
  order: -1;
}

.past-project:after {
  content: "";
  display: table;
  clear: both;
}

.future-projects {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: red;
}

@media only screen and (min-width: 900px) {
  body {
    background-color: pink;
  }

  .current h2 {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
  }

  .current p {
    grid-column: 1/ span 2;
  }

  .current img {
    grid-column: 1/ span 5;
    grid-row: 1/ span 3;
  }

  .past-projects {
    display: flex;
    flex-wrap: wrap;
  }

  .past-projects h2 {
    width: 100%;
  }

  .past-project {
    width: 33.333333%;
    display: flex;
    flex-direction: column;
  }

  .past-project h3 {
    order: -2;
  }

  .past-project p {
    order: 1;
  }

  .past-projects h2 {
    background-color: black;
    color: white;
  }
}
