* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

.mobilehead {
  background-image: url("../Images/HomeImage.png");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#home {
  width: 100%;
  height: 100%;
  display: block;
  grid-column: 1/ span 6;
  grid-row: 1/ span 6;
}

#lynx {
  max-width: 500px;
  width: 100%;
  height: 100%;
  display: block;
  grid-column: 3/ span 2;
  grid-row: 1/ span 2;
}

#logo {
  width: 100%;
  display: block;
  grid-column: 2/ span 4;
  grid-row: 3/ span 1;
}

h1 {
  display: none;
}

nav {
  grid-column: 1/ span 6;
  grid-row: 5/ span 1;
}

ul {
  display: flex;
}

p {
  grid-column: 3/ span 2;
  grid-row: 4/ span 1;
}

.logos {
  grid-column: 2/ span 2;
}

.informationsection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.eventone {
  width: 100%;
  background: url("../images/Backgrounds/BG-img-01.png");
  background-size: cover;
  background-color: #cccccc;
}

.textleft {
  float: left;
  width: 40%;
}

.textleft h3 {
  padding-top: 20px;
}

.description {
  padding-left: 20px;
}

.textleft h3,
.description {
  padding-bottom: 20px;
}

.eventimg {
  max-width: 50%;
  display: block;
  padding: 20px;
  height: auto;
}

.eventtwo {
  background: url("../images/Backgrounds/BG-img-02.png");
  background-size: cover;
  background-color: #cccccc;
}

footer {
  background-color: black;
}