* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

.mobile-head {
  background-image: url("../Images/HomeImage.png");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#home {
  width: 100%;
  height: 100%;
  grid-column: 1 / span 6;
  grid-row: 1 / span 6;
}

#lynx {
  width: auto;
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

#logo {
  width: 100%;
  grid-column: 2 / span 4;
  grid-row: 3 / span 1;
}

h1 {
  display: none;
}

nav {
  grid-column: 1 / span 6;
  grid-row: 5 / span 1;
}

ul {
  display: flex;
}

p {
  grid-column: 3 / span 2;
  grid-row: 4 / span 1;
}

.logos {
  grid-column: 2 / span 2;
}

.information-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.event-one {
  width: 100%;
  background: url("../images/Backgrounds/BG-img-01.png");
  background-size: cover;
  background-color: #cccccc;
}

.text-left {
  float: left;
  width: 40%;
}

.text-left h3 {
  padding-top: 20px;
}

.description {
  padding-left: 20px;
}

.text-left h3,
.description {
  padding-bottom: 20px;
}

.image {
  width: 60%;
  padding: 20px;
}

.event-two {
  background: url("../images/Backgrounds/BG-img-02.png");
  background-size: cover;
  background-color: #cccccc;
}

footer {
  background-color: black;
}

<!-- CSS animations -->


a {
  color: inherit;
  text-decoration: none;
}

.navp {
font-size: 11px;
}



.menu-item, .menu-open-button {
  background: #1c1c1c;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}


.hamburger {
  margin-top: 20px;
  width: 90px;
  height: 90px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: #ff4081;
}
.menu-item:nth-child(3) {
  transition-duration: 70ms;
}
.menu-item:nth-child(4) {
  transition-duration: 130ms;
}
.menu-item:nth-child(5) {
  transition-duration: 190ms;
}
.menu-item:nth-child(6) {
  transition-duration: 250ms;
}
.menu-item:nth-child(7) {
  transition-duration: 310ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 160ms;
  -webkit-transform: translate3d(-250.42548px, 200.48084px, 0);
          transform: translate3d(-250.42548px, 200.48084px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 240ms;
  -webkit-transform: translate3d(-180.18543px, -85.2491px, 0);
          transform: translate3d(-180.18543px, -85.2491px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 320ms;
  -webkit-transform: translate3d(-0.09158px, -250.99996px, 0);
          transform: translate3d(-0.09158px, -250.99996px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 400ms;
  -webkit-transform: translate3d(180.04956px, -85.37192px, 0);
          transform: translate3d(180.04956px, -85.37192px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 480ms;
  -webkit-transform: translate3d(250.40705px, 200.66307px, 0);
          transform: translate3d(250.40705px, 200.66307px, 0);
}
